.sunny-theme-icon {
  height: 30px;
  color: #ffffff;
  width: 30px;
}

.moon-theme-icon {
  height: 30px;
  width: 30px;
  color: #231f20;
}

.profile-image {
  height: 40px;
  width: 40px;
  margin-left: 16px;
  margin-right: 16px;
}

.hamburger-menu {
  height: 40px;
  width: 40px;
  margin-left: 16px;
  margin-right: 16px;
  display: none;
}

.hamburger-menu-dark {
  height: 40px;
  width: 40px;
  margin-left: 16px;
  margin-right: 16px;
  color: #ffffff;
  display: none;
}

.popup-container {
  display: none;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 120vw;
  height: 120vh;
}

.trigger-button {
  background-color: transparent;
  border: none;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile-image {
    display: none;
  }
  .hamburger-menu {
    display: block;
    color: black;
  }
  .hamburger-menu-dark {
    display: block;
  }
  .popup-container {
    display: block;
    background-color: none;
  }
}

.theme-button {
  background-color: transparent;
  border: none;
}
